<div class="container cart">
  <br>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Prix</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listArticles | async">
      <td rootLink>{{ item.nom }}</td>
      <td>{{ item.categorie }}</td>
      <td>{{ item.prix }}</td>
      <td><button class="btn btn-danger" (click)="OnClick(item)" >REMOVE</button></td>
      <td><button class="btn btn-primary" [routerLink]="['/details/',item.nom]">details</button></td>
    </tr>
    </tbody>
  </table>
</div>
